/* transitions.css */

.fade-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
  }
  
  .fade-exit {
    opacity: 0;
    transform: translateX(0);
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 100ms ease-out, transform 100ms ease-out;
  }
  